* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBMPlexSans-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  padding-bottom: 0.1em;
}

/* HEADER */ 
header {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav {
  width: 450px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header nav:last-child ul {
  justify-content: flex-end;
}

header nav:first-child ul li {
  padding-left: 48px;
}

header nav:last-child ul li {
  padding-right: 48px;
}

header nav ul li a {
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  text-decoration: none;
  border-bottom: 1px solid #20202048;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

header nav ul li a:hover {
  border-bottom: 1px solid #202020;
}

.logo {
  display: block;
  width: 43px;
  height: 20px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
}


/* INTRO */ 
.intro {
  width: 100%;
}

.intro h1 {
  width: 700px;
  margin: 0 auto;
  padding: 4rem 0rem 4rem;
  font-size: 1.7em;
  line-height: 1.3em;
  font-weight: 500;
  text-align: center;
  color: #202020;
}


/* CONTENT */ 

.content {
  width: 100%;
}

.content__item {
  height: 592px;
  background-color: #E2E2E2;
  margin-bottom: 16px;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.content__item.content__item-second {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.content__item.content__item-third {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.content__item.content__item-fourth {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.content__item-2-col {
  display: flex;
  flex-direction: row;
}

.content__item-white .item__text {
  color: #FAFAFA;
}

.content__item.content__item-white > .item__text p {
  color: rgba(250, 250, 250, 0.8);
}

.content__item.content__item-white > .item__text a {
  color: #FAFAFA;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

.content__item.content__item-white > .item__text a:hover {
  border-bottom: 1px solid #FAFAFA;
}

.content__item-2-col > .content__item {
  width: 50%;
  margin-right: 16px;
}

.content__item-2-col > .content__item:last-child {
  margin-right: 0; 
}

.content__item > .item__text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}

.content__item > .item__text h2 {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 8px;
}

.content__item > .item__text p {
  font-size: 16px;
  color: rgba(0,0,0,0.5);
  text-align: center;
  padding-bottom: 16px;
}

.content__item > .item__text a {
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  text-decoration: none;
  border-bottom: 1px solid #20202048;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.content__item > .item__text a:hover {
  border-bottom: 1px solid #202020;
}


/* for-phone-only */
@media only screen and (max-width: 599px) {
  header {
    justify-content: center;
    height: 50px;
  }

  header nav {
    display: none;
  }

  header nav ul li a {
    font-size: 14px;
    line-height: 16px;
  }

  .intro h1 {
    width: 100%;
    padding: 2rem 3rem 3rem;
    font-size: 1.3em;
  }
   
  .logo {
    width: 32px;
    height: 15px;
  }

  .content__item {
    height: 420px;
  }
  
  .content__item > .item__text {
    width: 80%;
  }

  .content__item > .item__text h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 6px;
  }

  .content__item > .item__text p {
    font-size: 14px;
    padding-bottom: 8px;
  }
  
  .content__item > .item__text a {
    font-size: 14px;
  }

  .content__item-2-col {
    display: flex;
    flex-direction: column;
  }

  .content__item-2-col > .content__item {
    width: 100%;
    margin-right: 16px;
}
}

/* for-tablet-portrait-up */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  header nav {
    width: 300px;
  }

  header nav ul li a {
    font-size: 14px;
    line-height: 16px;
  }

  .intro h1 {
    padding: 3rem 3rem 4rem;
    font-size: 1.3em;
  }
   
  .logo {
    width: 32px;
    height: 15px;
  }

  .content__item {
    height: 450px;
  }
  
  .content__item > .item__text {
    width: 80%;
  }

  .content__item > .item__text h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 6px;
  }

  .content__item > .item__text p {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .content__item > .item__text a {
    font-size: 14px;
  }
}

/* for-tablet-landscape-up */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .logo {
    width: 32px;
    height: 15px;
  }

  .content__item {
    height: 540px;
  }
}