
body {
  font-family: 'PT Sans', sans-serif;
}

.text {
  width: 300px;
  padding-top: 70px;
  margin: 0 auto;
  text-align: center;
  color: #121212;
}

.text h1,
.text p {
  margin: 10px 0;
}

.text p {
  letter-spacing: -0.3px;
  text-align: center;
}

.audio {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}
