
body {
  font-family: 'PT Sans', sans-serif;
}

.text {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #121212;
}

.text h1,
.text p {
  margin: 10px 0;
}

.text p {
  letter-spacing: -0.3px;
  text-align: center;
}

.headphone {
  width: 20%;
  margin: 70px auto 0;
}
div img {
  max-width: 100%;
}

.audio {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}
